{% extends "base.html" %}
{% block content %}
{% if not session['logged_in'] %}
{% else %}

<!DOCTYPE html>
<html>
    <head>
        <style>
             .inputBox input{
                width: 85%;
                padding: 1.5rem 20px;
                border: 1px solid #ccc;
                border-radius: 4px;
                font-size: 20px;
            }
        </style>
    </head>
    <body>
        <div class="inputBox">
            <input type="text" name="username" placeholder="사용자 이름">
        </div>
        <div class="inputBox">
            <input type="text" name="userphone" placeholder="사용자 전화번호">
        </div>
        <div class="inputBox">
            <input type="text" name="gNum" placeholder="시설 고유 번호">
        </div>
        <div class="inputBox">
            <input type="text" name="startTime" placeholder="사용 시작 시간">
        </div>
        <div class="inputBox">
            <input type="text" name="endTime" placeholder="사용 완료 시간">
        </div>
        <div class="confirmButton">
        <p><input type="submit"></p>
        </div>
    </body>
</html>
{% endif %}
{% endblock %}